.dollar-page-wrapper {
    display: flex;
    
    flex-wrap: wrap;

    justify-content: center;
    gap: 2.5rem;
    padding: 2rem;
    margin: 0 20vw;

}

.dollar-page-search {
    width: 80%;
    padding: 0.8rem;
    outline: none;
    border: 1px solid #8d8d8d;
    border-radius: 0.5rem;

    font-size: 1.2rem;
}