.currency-card {
    font-family: "Main Font Regular";
    background-color: #f0f0f0;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.5);
    min-width: 280px;
    width: 300px;
    min-height: 200px;
    box-sizing: border-box;
    border-radius: 1rem;
    text-align: center;

    padding: 1rem;

    display: grid;
    place-items: center;
    font-family: "Main Font Regular";
    

    && h1 {
        font-size: clamp(1.1rem, 1vw, 2rem);        
    }

    && h2 {
        font-weight: 400;
    }

    && span {
        color: #8d8d8d;
        font-size: clamp(0.8rem, 1vw, 1rem);
    }
}

.currency-card__values {
    display: flex;
    gap: 5rem;
}
